<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Mongoose Flights</h1>
    <a href="/">HOME</a> |
    <a href="/flights">ALL FLIGHTS</a> |
    <a href="/flights/new">ADD FLIGHT</a>