<%- include('../partials/header') %>

    <h2>Tickets</h2>
    <form action="/flights/<%=flightId%>/tickets" method="POST">
        <label>Seat:</label>
        <input name="seat" required pattern="[A-F][1-9]\d?"><br>
        <label>Price</label>
        <input name="price">
        <input type="submit" value="ADD Ticket">
    </form>

    <%- include('../partials/footer') %>